<mat-drawer-container>

    <mat-drawer #drawer mode="side">
        <mat-toolbar>
            <div>Logo</div>
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon (click)="drawer.close()">close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list *ngFor="let item of nav_list_items">
            <mat-list-item (click)="drawer.close()" routerLink="{{item.route_link}}">{{item.route_name}}</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-toolbar>
        <button mat-icon-button *ngIf="!drawer.opened" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1><a routerLink="/" style="text-decoration: none;color: black;">{{title}}</a></h1>

        <!-- TODO: replace with a component -->
        <mat-form-field class="example-spacer" appearance="fill">
            <mat-label>Search</mat-label>
            <input style="margin: 0;" matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
        <button mat-button matBadge="{{starred_count}}">
            <mat-icon>star_border</mat-icon>&ensp;Starrred
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-drawer-container>