<mat-drawer-container>

    <mat-drawer #drawer mode="side">
        <mat-toolbar>
            <div>Logo</div>
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon (click)="drawer.close()">close</mat-icon>
            </button>
        </mat-toolbar>

        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequuntur eius rem, quas eos
            perferendis quae nihil praesentium omnis fuga modi. Molestias praesentium quas blanditiis sunt adipisci
            maiores doloremque culpa?
        </div>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button mat-icon-button *ngIf="!drawer.opened" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>

        <span class="example-spacer"></span>

        <button mat-raised-button color="primary">Login</button>
        <button mat-button>
            <mat-icon>shopping_cart</mat-icon>&ensp;Cart
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-drawer-container>