.example-spacer {
    flex: 1 1 auto;
}
button {
    margin: 0.5rem;
}
.mat-drawer-container {
    height: 100%;
}
.mat-drawer {
    width: 25%;
    background-color: whitesmoke;
    border-right: 0px;
}